{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {extension_tests, "0.1.0"},
         [extension_tests]},
        {extended_start_script_extensions, [
            {bar, "./bar"},
            {foo, "./foo", "foo description"},
            {baz, "./baz", "bin/extensions/baz", "baz description"}
        ]}
]}.
