{release,{foo,"0.0.1"},[goal_app]}.
{lib_dirs,["/home/travis/build/lrascao/relx/_build/test/logs/ct_run.nonode@nohost.2017-01-27_00.15.28/lib.relx.rlx_extended_bin_SUITE.replace_os_vars.logs/run.2017-01-27_00.15.28/log_private/rlx_extended_bin_SUITE/lib_dir1_596782/*"]}.
{sys_config,"/home/travis/build/lrascao/relx/_build/test/logs/ct_run.nonode@nohost.2017-01-27_00.15.28/lib.relx.rlx_extended_bin_SUITE.replace_os_vars.logs/run.2017-01-27_00.15.28/log_private/rlx_extended_bin_SUITE/lib_dir1_596782/sys.config"}.
{vm_args,"/home/travis/build/lrascao/relx/_build/test/logs/ct_run.nonode@nohost.2017-01-27_00.15.28/lib.relx.rlx_extended_bin_SUITE.replace_os_vars.logs/run.2017-01-27_00.15.28/log_private/rlx_extended_bin_SUITE/lib_dir1_596782/vm.args"}.
{generate_start_script,true}.
{extended_start_script,true}.
